.container {
    display: grid;
    border: 1px solid #bdbcbc;
    margin: 10px auto;
    background-color: #fff;
    max-width: 800px;
}

.container__header {
    font-size: x-large;
    font-weight: 800;
    margin-top: 0;
    padding: 10px;
    border-bottom: 1px solid #bdbcbc;
}