.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

@media (max-width: 500px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #bdbcbc;
}

.form__input:hover {
    border: 1px solid black;
}

.form__button {
    color: white;
    background-color: teal;
    padding: 10px;
    border: 1px solid #bdbcbc;
    cursor: pointer;
}

.form__button:hover {
    border: 1px solid black;
}