.form {
    display: grid;
    gap: 20px;
}

.form__header {
    font-size: x-large;
    font-weight: 800;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #bdbcbc;
}

.form__input {
    padding: 10px;
    border: 1px solid #bdbcbc;
    margin-bottom: 10px;
}

.form__button {
    color: white;
    background-color: teal;
    padding: 10px;
    border: 1px solid #bdbcbc;
}

.form__button:active {
    border: 1px solid black;
}