.form {
    display: flex;
    gap: 20px;
    
}

@media (max-width: 500px) {
    .form {
        flex-direction: column;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #bdbcbc;
}

.form__button {
    color: white;
    background-color: teal;
    padding: 10px;
    border: 1px solid #bdbcbc;
    cursor: pointer;
}

.form__button:hover {
    border: 1px solid black;
}