.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__item {
    border-bottom: 1px solid #bdbcbc;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    word-break: break-all;
}

.list__item--done {
    text-decoration: line-through;
}

.buttonDone {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
    background-color: green;
}

.buttonRemove {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
    background-color: red;
}